{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block content
%}

<br /> 
<br /> 


<h3 align="center">Enter characteristics for your schedule: </h3>
 
<form id="taskForm" method="POST">

<div>
  <label for="taskName">Task Name:</label>
  <input type="text" id="taskName" name="taskName" required>
</div>
<div>
  <label for="allottedTime">Allotted Time (in minutes):</label>
  <input type="number" id="allottedTime" name="allottedTime" required>
</div>
<br /> 

<button type="submit"  class="btn btn-primary">Add Task</button>

</form>

<br /> 
<br /> 


<form id="dataForm" method="POST">
    <div class="form-group">
      <label for="wake_up_time">Wake Up Time</label>
      <input
        type="time"
        class="form-control"
        id="wake_up_time"
        name="wake_up_time"
        placeholder="Enter time"
      />
    </div>
    <div class="form-group">
        <label for="sleep_time">Sleep Time</label>
        <input
          type="time"
          class="form-control"
          id="sleep_time"
          name="sleep_time"
          placeholder="Enter time"
        />
    </div>

    <!--
    <div class="form-group">
        <label for="task1">Task # 1</label>
        <input
          type="text"
          class="form-control"
          id="task1"
          name="task1"
          placeholder="Enter Task #1: "
        />
    </div>

    <div class="form-group">
        <label for="time_task1"> Time allotted for Task # 1</label>
        <input
          type="number"
          class="form-control"
          id="time_task1"
          name="time_task1"
          placeholder="Enter Time alloted Task #1 (in minutes): "
        />
    </div>

    --> 
        <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


{% endblock %} 