{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block content
%}

<form method="POST">
    <h3 align="center">Enter characteristics for your schedule: </h3>
    <div class="form-group">
      <label for="wake_up_time">Wake Up Time</label>
      <input
        type="time"
        class="form-control"
        id="wake_up_time"
        name="wake_up_time"
        placeholder="Enter time"
      />
    </div>
    <div class="form-group">
        <label for="sleep_time">Sleep Time</label>
        <input
          type="time"
          class="form-control"
          id="sleep_time"
          name="sleep_time"
          placeholder="Enter time"
        />
    </div>

    <div class="form-group">
        <label for="task1">Task # 1</label>
        <input
          type="text"
          class="form-control"
          id="task1"
          name="task1"
          placeholder="Enter Task #1: "
        />
    </div>

    <div class="form-group">
        <label for="time_task1"> Time allotted for Task # 1</label>
        <input
          type="number"
          class="form-control"
          id="time_task1"
          name="time_task1"
          placeholder="Enter Time alloted Task #1 (in minutes): "
        />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %} 