{% extends "base.html" %} {% block title %}Schedule{% endblock %} 
{% block css%}
  <link rel="stylesheet" href="/static/sched.css">
{% endblock %}
{% block content%}

<h1> <center> This is your custom schedule: </center> </h1>

<body>
    <table border = 1>
       {% for key, value in schedule.items() %}
          <tr>
             <th> {{ key }} </th>
             <td> {{ value }} </td>
          </tr>
       {% endfor %}
    </table>

{% if s == ""%}
<p> "No possible schedule returned by ChatGPT" </p>

{%endif%}

 </body>


{% endblock %} 