@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

body
{
    background-color: white;
}

h3
{
    font-family: 'Karla', sans-serif;
    margin-bottom: 15px;
}
h6
{
    font-family: 'Karla', sans-serif;
    margin-top: 15px;
}
label
{
    font-family: 'Karla', sans-serif;
    font-weight: bolder;
}


#taskTimes
{
    display:flex;
    justify-content: center;
}
#tasks
{
    background-color: #597DF4;
    width: 500px;
    margin: 0 10px;
    text-align: center;
    border-radius: 10px;
    
}

#times
{
    background-color: #F4D059;
    width: 500px;
    margin: 0 10px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    
}

.btn.btn-primary {

    background-color: #58E472;
    border: none;
    border-color: #58E472;

}

#submitButton
{
display: flex;
  justify-content: center;
  align-items: center;
}

#taskN
{
    margin-top: 25px;
}